# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# CDK
cdk.out/

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env
.env
.env.local
.env.test

# Playwright
test-results/
playwright-report/
